.decisions {

  margin-bottom: 8rem;

  &__part1 {
    width: 51%;
    padding-top: 4.5rem;
    padding-bottom: 5rem;

    @include for-desktop-xxl {
      width: 55%;
    }

    @include for-tablet-portrait-md {
      width: 100%;
    }
  }

  &__part1 .maintext {
    margin-bottom: 3rem;
    padding-right: 7rem;

  }

  &__part2 {
    width: 49%;
    border: 0.2rem solid #2f2f2f;
    border-radius: 3rem;
    padding-left: 9rem;
    padding-top: 5rem;
    padding-right: 2.7vw;
    margin-top: -.2rem;

    @include for-desktop-xxl {
      width: 45%;
    }

    @include for-tablet-portrait-md {
      width: 100%;
      padding-left: 7rem;
      padding-right: 0.7vw;
      padding-bottom: 5.5rem;
      padding-top: 2.5rem;
    }

    @include for-phone-landscape-sm {
      padding-right: 1.7vw;
    }
  }

  &__wrapper {

    border: 0.2rem solid #2f2f2f;
    border-radius: 3rem;
    padding-left: 6%;
    padding-right: 17%;
    display: flex;

    @include for-desktop-xxl {
      padding-right: 7%;
    }

    @include for-laptop-desktop-xl {
      padding-right: 8%;
    }

    @include for-tablet-landscape-lg {
      padding-right: 5%;
    }

    @include for-tablet-portrait-md {
      padding-right: 0;
      display: grid;
      align-content: center;
    }

    @include for-phone-landscape-sm {
      padding-left: 1.5rem;
    }
  }

  &__subtitle {
    @include font (700, 2.4rem, 90%);
    color: var(--color-text);
    margin-bottom: 9.1rem;
    margin-left: -4.8rem;

    @include for-tablet-portrait-md {
      margin-bottom: 5rem;
    }
  }

  &__list {

    display: block;
    position: relative;
    border-left: .3rem solid #2f2f2f;
    margin-left: -3.7rem;
    padding-left: 3.2rem;

    & li {
      @include font (400, 1.8rem, 110%);
      color: var(--color-text);
      position: relative;
      z-index: 5;

      &::before {
        content: '';
        width: 2.9rem;
        height: 2.9rem;
        border: .2rem solid #ffffff;
        border-radius: 50%;
        background: #818183;
        position: absolute;
        top: 50%;
        left: -4.7rem;
        transform: translate(0, -50%);

        @include for-tablet-portrait-md {
          left: -5rem;
        }
      }
    }

    & li:not(:last-child) {
      margin-bottom: 5rem;
    }

    & li:last-child {
      position: relative;
      bottom: -3rem;
      margin-top: -3rem !important;
    }
  }

  &__line {
    display: block;
    width: .2rem;
    height: 100%;
    background: #2f2f2f;
    position: relative;
    top: 0;
    left: -3.4rem;

    @include for-tablet-portrait-md {
      left: -2.4rem;
    }
  }
}

#t2 {
  margin-bottom: 4rem;
}