@font-face {
    font-family: 'CocoSharp';
    src: url('../fonts/Coco-Sharp-Bold-trial.eot');
    src: local('CocoSharpBoldtrial'), local('Coco-Sharp-Bold-trial'),
        url('../fonts/Coco-Sharp-Bold-trial.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Coco-Sharp-Bold-trial') format('woff'),
        url('../fonts/Coco-Sharp-Bold-trial') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CocoSharp';
    src: url('../fonts/Coco-Sharp-Regular-trial.eot');
    src: local('CocoSharpRegulartrial'), local('Coco-Sharp-Regular-trial'),
        url('../fonts/Coco-Sharp-Regular-trial.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Coco-Sharp-Regular-trial') format('woff'),
        url('../fonts/Coco-Sharp-Regular-trial') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'), local('GilroyRegular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular') format('woff'),
        url('../fonts/Gilroy-Regular') format('truetype');
    font-weight: 400;
    font-style: normal;
}