.learning {

  margin-bottom: 1rem;

  @include for-tablet-landscape-lg {
    height: auto;
    margin-bottom: 0rem;
  }

  &__border {
    height: 100%;
    padding-top: 4.5rem;
    border: 0.2rem solid #2f2f2f;
    border-radius: 3rem;
    overflow: hidden;
    position: relative;

    @include for-tablet-landscape-lg {
      padding-left: 3rem;
      padding-right: 3rem;
      position: relative;
    }

    @include for-phone-landscape-sm {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  &__wrapper {
    display: flex;
    padding-left: 6rem;
    padding-right: 6rem;

    @include for-laptop-desktop-xl {
      padding-right: 3rem;
      margin-bottom: 3rem;
    }

    @include for-tablet-landscape-lg {
      display: block;
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }

  &__title {
    // width: 42%;
    // margin-right: 3.9rem;
    width: 38%;
    margin-right: 7.9rem;

    @include mezdu {
      width: 40%;
    }

    @include for-laptop-desktop-xl {
      margin-right: 1.9rem;
      width: 42%;
    }

    @include for-tablet-landscape-lg {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2.5rem;
    }
  }

  &__textbox {
    width: 58%;
    padding-right: 4.5rem;

    @include for-desktop-xxl {
      padding-right: .5rem;
    }

    @include for-tablet-landscape-lg {
      width: 100%;
      padding-right: 3rem;
    }

    @include for-phone-landscape-sm {
      padding-right: 0;
    }
  }


  &__staffgroup {
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    height: 50rem;

    @include for-laptop-desktop-xl {
      padding-left: 4rem;
      padding-right: 0rem;
    }

    @include for-tablet-landscape-lg {
      display: block;
      padding-left: 0rem;
      padding-right: 0rem;
      height: auto;
    }

    & .learning__module:nth-child(1) {
      padding-top: 12rem;

      @include for-tablet-landscape-lg {
        padding-top: 0;
        padding-right: 6rem;
      }

      @include for-tablet-portrait-md {
        padding-bottom: 29rem;
        padding-right: 12rem;

      }
    }

    & .learning__module:nth-child(2) {
      padding-top: 0.5rem;
      left: -2rem;

      @include for-tablet-landscape-lg {
        padding-top: 0;
        padding-left: 15rem;
        padding-bottom: 25rem;
      }
    }

    & .learning__module:nth-child(3) {
      right: -7rem;

      @include for-tablet-landscape-lg {
        right: 0;
        padding-right: 8rem;
        padding-bottom: 25rem;
      }
    }

    & .learning__module:nth-child(4) {
      padding-top: 14rem;

      @include for-tablet-landscape-lg {
        padding-top: 0;
        padding-left: 15rem;
      }
    }

    & .learning__module:nth-child(1) .learning__foto-item {
      z-index: 10;
      right: -21rem;

      @include for-laptop-desktop-xl {
        right: -15rem;
      }

      @include for-tablet-landscape-lg {
        width: 21rem;
        right: -2rem;
      }

      @include for-tablet-portrait-md {
        bottom: 3.5rem;
      }

      & .arrow img {
        width: 9.4rem;
        height: 9.3rem;
        top: 9rem;
        left: -2rem;

        @include for-laptop-desktop-xl {
          top: 3rem;
          left: 1rem;
        }

        @include for-tablet-landscape-lg {
          transform: rotate(376deg);
          top: 5rem;
          left: -5rem;
        }
      }
    }

    & .learning__module:nth-child(2) .learning__foto-item {
      right: -9rem;

      @include for-tablet-landscape-lg {
        left: 0;
        right: 0;
        bottom: 3rem;
      }

      & .arrow img {
        width: 5.4rem;
        height: 10.3rem;
        top: -11rem;
        left: 18rem;

        @include for-laptop-desktop-xl {
          width: 3.9rem;
          height: 10.3rem;
          top: -11rem;
          left: 15rem;
        }

        @include for-tablet-landscape-lg {
          width: 3.9rem;
          height: 10.3rem;
          top: 0rem;
          left: 18rem;
          transform: rotate(40deg);
        }
      }
    }

    & .learning__module:nth-child(3) .learning__foto-item {
      z-index: 10;
      left: -13rem;

      @include for-laptop-desktop-xl {
        left: -12rem;
      }

      @include for-tablet-landscape-lg {
        left: 77%;
      }

      @include for-tablet-portrait-md {
        left: 69%;
        bottom: 3rem;
      }

      @include for-phone-landscape-sm {
        left: 58%;
      }

      & .arrow img {
        width: 5.4rem;
        height: 10.3rem;
        top: -11rem;
        left: 8rem;

        @include for-laptop-desktop-xl {
          width: 4.4rem;
        }

        @include for-tablet-landscape-lg {
          width: 6.4rem;
          top: -0.1rem;
          left: -8rem;
          transform: rotate(-63deg);
        }

        @include for-tablet-portrait-md {
          top: 1.9rem;
        }

        @include for-phone-landscape-sm {
          // left: 58%;
        }
      }
    }

    & .learning__module:nth-child(4) .learning__foto-item {
      left: -21rem;

      @include for-laptop-desktop-xl {
        left: -16rem;
      }

      @include for-tablet-landscape-lg {
        left: -1rem;
      }

      & .arrow img {
        width: 9.8rem;
        height: 10.3rem;
        top: 8rem;
        left: 28rem;

        @include for-laptop-desktop-xl {
          width: 9.4rem;
          top: 4rem;
          left: 22rem;
        }

        @include for-tablet-landscape-lg {
          transform: rotate(-8deg);
          width: 9.4rem;
          top: 0rem;
          left: 14rem;
        }
      }
    }
  }

  &__module {

    position: relative;
    height: 100%;
    width: 26.4rem;

    @include for-tablet-landscape-lg {
      width: 100%;
      padding-top: 0;
      padding-bottom: 22rem;
    }

    @include for-tablet-portrait-md {
      // margin-bottom: 20rem;
    }

    @include for-phone-landscape-sm {
      // margin-bottom: 14rem;
    }

    &:nth-child(1) {

      & .learning__foto-item:nth-child(2) {
        right: -7rem;

        @include for-tablet-landscape-lg {
          right: 0;
        }
      }

      @include for-laptop-desktop-xl {
        // margin-top: 14.6rem;
      }

      @include for-tablet-landscape-lg {
        // margin-top: 0;
      }
    }

    &:nth-child(2) {
      // margin-top: .9rem;
      // margin-left: -8rem;

      @include for-tablet-landscape-lg {
        // margin-top: 0;
        // margin-left: 0;
      }
    }

    &:nth-child(3) {
      // margin-top: 0.9rem;
      // margin-right: -8rem;

      @include for-tablet-landscape-lg {
        // margin-top: 0;
        // margin-right: 0;
      }

    }

    &:nth-child(4) {
      // margin-top: 13.4rem;
      // margin-right: -6rem;

      @include for-tablet-landscape-lg {
        // margin-top: 0;
        // margin-right: 0;
      }
    }

    @include for-tablet-landscape-lg {

      &:nth-child(1),
      &:nth-child(3) {
        width: 100%;
      }

      &:nth-child(2),
      &:nth-child(4) {
        width: 100%;
      }
    }


    & h3 {
      @include font (700, 1.8rem, 110%);
      color: var(--color-zag);
      margin-bottom: 1.5rem;
    }

    & p {
      @include font (400, 1.4rem, 110%);
      color: var(--color-text);
    }
  }

  &__foto-item {
    overflow: visible;
    width: 27rem;
    position: absolute;
    bottom: 0;

    @include for-laptop-desktop-xl {
      width: 23rem;
    }

    @include for-tablet-landscape-lg {
      width: 17rem;
    }

    & img {
      overflow: visible;

      @include for-laptop-desktop-xl {
        // width: 33rem;
      }

      @include for-tablet-landscape-lg {
        // width: 30rem;
      }
    }

    & .arrow img {
      position: absolute;
      width: 7rem;
      height: 6rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      flex-shrink: 0;
      display: block;

      @include for-tablet-portrait-md {
        // display: none;
      }

      @include for-phone-landscape-sm {
        // display: block;
      }
    }

    &:nth-child(1) .arrow img {
      width: 10.3rem;
      height: 4.3rem;
      top: 10rem;
      left: -2rem;


      @include for-laptop-desktop-xl {
        top: 5rem;
        left: -3rem;
      }

      @include for-tablet-portrait-md {
        // top: 10rem;
        // left: -3rem;

      }

      @include for-phone-landscape-sm {
        // top: 14rem;
        // left: -5rem;
      }
    }

    &:nth-child(2) .arrow img {
      width: 3.7rem;
      height: 8.8rem;
      top: -9rem;
      left: 17rem;

      @include for-laptop-desktop-xl {
        top: -12rem;
        left: 12rem;
      }

      @include for-tablet-landscape-lg {
        // top: 7rem;
        // left: 28rem;
        // transform: rotate(45deg);
      }

      @include for-tablet-portrait-md {
        // top: 9rem;
        // left: 27rem;
      }

      @include for-phone-landscape-sm {
        // top: 12rem;
        // left: 26rem;
      }
    }

    &:nth-child(3) .arrow img {
      width: 5.4rem;
      height: 10.3rem;
      top: -10rem;
      left: 4rem;

      @include for-laptop-desktop-xl {
        top: -13rem;
        left: 10rem;
      }

      @include for-tablet-landscape-lg {
        // transform: rotate(279deg);
        // top: 9rem;
        // left: -12rem;
      }

      @include for-tablet-portrait-md {
        // top: 9rem;
        // left: -10rem;
      }
    }

    &:nth-child(4) .arrow img {
      width: 10.3rem;
      height: 4.3rem;
      top: 9rem;
      left: auto;
      right: -10rem;

      @include for-laptop-desktop-xl {
        top: -2rem;
        right: -13rem;
      }

      @include for-tablet-landscape-lg {
        // top: 15rem;
        // right: -18rem;
      }

      @include for-tablet-portrait-md {
        // top: 12rem;
        // right: -18rem;
      }

      @include for-phone-landscape-sm {
        // top: 10rem;
        // right: -17rem;
      }
    }
  }
}

@media (max-width: 29.375em) {

  .learning__staffgroup .learning__module:nth-child(1) {
    padding-right: 11rem;
  }

  .learning__staffgroup .learning__module:nth-child(1) .learning__foto-item {
    & .arrow img {
      top: 3rem;
      left: -5rem;
    }
  }

  .learning__staffgroup .learning__module:nth-child(2) {
    left: 0;
    padding-left: 7rem;
    padding-bottom: 27rem;
  }

  .learning__staffgroup .learning__module:nth-child(2) .learning__foto-item {
    & .arrow img {
      top: -1.7rem;
      left: 19rem;
    }
  }

  .learning__staffgroup .learning__module:nth-child(4) {
    left: 0;
    padding-left: 7rem;
    padding-bottom: 24rem;
  }

  .learning__staffgroup .learning__module:nth-child(4) .learning__foto-item {

    & .arrow img {
      width: 10.7rem;
      top: -2.3rem;
      left: 14rem;
    }
  }


  .learning__textbox {
    margin-top: 2.2rem;
  }

  .learning__foto {
    margin-top: 5.2rem;
    gap: 5rem;
    padding: 0;
  }
}


@media (max-width: 25em) {
  .learning__foto {
    gap: 19rem;
    padding: 1rem;
    margin-top: 8.2rem;
  }

  .learning__module {
    // margin-bottom: 24rem;

  }

  .learning__foto-item:nth-child(1) {
    // top: 4rem;
    // right: -7rem;
  }

  .learning__foto-item:nth-child(2) {
    // top: -6rem;
    // left: -7rem;
  }

  .learning__staffgroup .learning__module:nth-child(3) .learning__foto-item {
    left: 46%;
  }

  .learning__foto-item:nth-child(4) {
    // top: -11rem;
  }

  .learning__foto-item:nth-child(1) .arrow img {
    // top: 3rem;
    // left: -1rem;
  }

  .learning__foto-item:nth-child(2) .arrow img {
    // top: -3rem;
    // left: 19rem;
  }

  .learning__foto-item:nth-child(3) .arrow img {
    //   top: -1rem;
    //   left: -5rem;
  }

  .learning__foto-item:nth-child(4) .arrow img {
    // top: -1rem;
    // left: 19rem;
  }

  .learning__module:nth-child(4) {
    // margin-bottom: 20rem;
  }

  .learning__module:nth-child(2),
  .learning__module:nth-child(4) {
    // width: 100%;
    // padding-left: 0;
  }

  .learning__module:nth-child(1),
  .learning__module:nth-child(3) {
    // width: 100%;
    // padding-right: 0;
  }
}

@media (max-width: 23.75em) {
  .learning__foto {

    gap: 20rem;
    padding: 1rem;
    margin-top: 8.8rem;

  }
}

@media (max-width: 21.44em) {
  .learning__foto {
    gap: 20.7rem;
    padding: 1rem;
    margin-top: 15.9rem;
  }
}