.questions {

  margin-bottom: 10rem;

  &__wrapper {
    display: flex;

    @include for-tablet-portrait-md {
      display: block;
    }
  }

  &__part1 {
    width: 45%;
    padding-right: 3rem;

    @include for-tablet-portrait-md {
      width: 100%;
      margin-bottom: 4rem;
    }

    & p,
    & button {
      @include for-phone-landscape-sm {
        display: none;
      }
    }

  }

  &__part2 {
    width: 55%;

    @include for-tablet-portrait-md {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 4rem;
  }

  &__textbox {
    margin-bottom: 4rem;
  }

  &__texts {
    width: 90%;
    max-width: 62.2rem;
  }

  &__block {

    border: 0.2rem solid #2f2f2f;
    border-radius: 3rem;
    padding: 3rem;
    position: relative;
    cursor: pointer;

    @include for-tablet-portrait-md {
      padding: 2rem;
    }

    &:not(:last-child) {

      margin-bottom: 15px;

    }

    & button {

      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      top: 50%;
      right: 3rem;
      transform: translate(0, -50%);
      background: transparent;

      @include for-tablet-portrait-md {
        right: 2rem;
      }

    }

    & h3 {

      @include font (700, 1.8rem, 110%);
      color: var(--color-zag);

    }

    & p {

      @include font (400, 1.4rem, 140%);
      color: var(--color-gray);
      margin-top: -3.7rem;
      opacity: 0;
      visibility: hidden;

      @include for-tablet-portrait-md {
        margin-top: -8rem;
      }

    }

  }

}