.title {
  @include zag (500, 6.5rem, 90%);
  color: var(--color-zag);
  margin-bottom: 3rem;

  @include for-laptop-desktop-xl {
    font-size: 5.5rem;
  }

  @include for-tablet-landscape-lg {
    margin-bottom: 5rem;
  }

  @include for-phone-landscape-sm {
    font-size: 11.2vw;
    margin-bottom: 3rem;
    letter-spacing: 0.03em;
  }
}

// @media (max-width: 25em) {
//   .title {
//     font-size: 11.2vw;
//     margin-bottom: 3rem;
//   }
// }

.maintext {
  @include font (400, 1.8rem, 140%);
  color: var(--color-text);

  @include for-tablet-portrait-md {
    @include font (400, 1.6rem, 140%);
  }
}

.maintext16 {
  @include font (400, 1.6rem, 140%);
  color: var(--color-text);
}