#acthead {
  background-color: rgba(20, 21, 25, .65);
  animation: header .7s ease-out;

  @keyframes header {

    from {
      background-color: rgba(20, 18, 31, 0.65);
    }

    to {
      background-color: rgba(20, 21, 25, .65);
    }
  }
}