.button {

  &__sub {
    height: fit-content;
    @include font (400, 1.8rem, 100%);
    width:max-content;
      color: orange;
      padding: 2.5rem;
      text-align: center;
      background: linear-gradient(61deg, #141519 0%, #4d3529 100%);
      border-radius: 4.3rem;
      border: orange solid .1rem;
      cursor: pointer;
      transition: all 0.7s ease;

      @include for-tablet-portrait-md {
        padding: 1.9rem;
      }
    
    &:hover {
      color: #FFD700;
      border: #FFD700 solid .1rem;
      background: linear-gradient(-61deg, #4d3529 0%, #141519 100%);
      transition: all 0.7s ease;
    }  
  }

  &__unsub {
    @include font (400, 1.8rem, 100%);
    color: orange;
    padding: 2.5rem;
    text-align: center;
    background: transparent;
    border-radius: 4.3rem;
    border: #ffffff solid .1rem;
    cursor: pointer;

    @include for-tablet-portrait-md {
      padding: 1.9rem;
    }
  }
}