footer.footer
  .container
    .footer__wrapper
      .footer__office
        a.footer__logo(href="#")
          img(src="img/logo.svg", alt="Med Beauty logo")

        address.footer__address Израиль, Реховотул. Моти Кинд 2
        p.footer__hours вск-чтв: 10:00 - 19:00.<br>Пт: 10:00 - 17:00
        p.footer__copyright 2025 MedBeauty LTD. All rights reserved.

      .footer__links
        .footer__navigation
          a.footer__item(href="#" ) 
            h2 Каталог
          a.footer__item(href="#" ) 
            h2 Обучение 
          a.footer__item(href="#" ) 
            h2 Консалтинг           
          a.footer__item(href="#" ) 
            h2 Контакты

        .footer__politics
          a.footer__item(href="#" ) 
            h2 Политика конфиденциальности
          a.footer__item(href="#" ) 
            h2 Условия использования
          a.footer__item(href="#" ) 
            h2 Политика использования файлов Cookies          
          a.footer__item(href="#" ) 
            h2 Политика доступности

      .footer__programm
        p.footer__progtxt Хочешь стать нашем партнером?
        p.maintext.footer__text Оставьте заявку, и мы свяжемся с вами для уточнения деталей

        .footer__call
          button.footer__btn.button__sub(type="submit") Связаться
          .footer__socials 
            a.footer__logos-soc(href="#")
              img(src="img/facebook.svg", alt="facebook logo")

            a.footer__logos-soc(href="#")
              img(src="img/instagram.svg", alt="instagram logo")

            a.footer__logos-soc(href="#")
              img(src="img/youtube.svg", alt="youtube logo")
script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
script(defer src="js/main.js")
script(src="js/inputmask.min.js")
          


