header.header
    .container
        .row
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Водка
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Блок и рог
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Водка
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Блок и рог
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Водка
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Блок и рог
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Водка
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Блок и рог
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Водка
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Блок и рог
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Водка
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Блок и рог
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Водка
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Блок и рог
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Водка
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Блок и рог
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Водка
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Блок и рог
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Водка
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Блок и рог
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Водка
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Блок и рог
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Водка
            .col-1.col-xxl-1.col-lg-6.col-xs-12.lll Блок и рог