header.header
    .header__cover
    .header__burger
        .header__burger-wrap
            img.header__logo-burger(src="img/logo.svg", alt="Med Beauty logo")

            nav#header_links
                a.header__burger-item(href="#testdrive" id="testdrive-item") Test-drive
                a.header__burger-item(href="#") О нас 
                a.header__burger-item(href="#") Оборудование
                a.header__burger-item(href="#") Академия
                a.header__burger-item(href="#") Консалтинг
                a.header__burger-item(href="#questions" id="questions-item") FAQ
                a.header__burger-item(href="#") Контакты

            button.header__form-btn.button__sub(type="button") Связаться
            
        button.header__cross(type="button") 
            img(src="img/cross.svg", alt="закрыть дополнительное меню")

    form#form.header__form.form(action="#", method="POST")
        h2.form__title Остались вопросы?

        label#label1(for="name")
            .form__imglab
                img(src="img/form_call.svg", alt="name")

            input.form__input(type="text", name="name", id="name", placeholder="Ваше имя", maxlength="35")

        label#label2(for="phone")
            .form__imglab
                img(src="img/form_pers.svg", alt="name")
            
            input.form__input.tel-selector(type="tel", name="phone", id="phone", placeholder="Ваш телефон")

        label(for="question")
            textarea.form__input(name="question", id="question", placeholder="Здесь будет Ваш вопрос" maxlength="1500")

        input.form__check(type="checkbox", name="agree", id="agree", value="Я даю согласие на обработку моих персональных данных")
        label.form__check-label(for="agree") Я даю согласие на обработку персольных данных в соответствии с политикой конфиденциальности и условием пользования
        p#warning.form__confirm Пожалуйста дайте свое согласие на обработку персональных данных

        button.form__btn.button__sub(type="submit") Связаться

    .header__back

    .container
        .header__top
            img.header__logo(src="img/logo.svg", alt="Med Beauty logo")

            .header__between
            .header__wrapper
                nav.header__menu
                    a.header__menu-item(href="#testdrive" id="testdrive-item") Test-drive
                    a.header__menu-item(href="#decisions" id="decisions-item") Решения
                    a.header__menu-item(href="#learning" id="learning-item") Обучение                
                    a.header__menu-item(href="#trust" id="trust-item") Доверие
                    a.header__menu-item(href="#questions" id="questions-item") FAQ
                    
                    button.header__chose-lang(type="button")
                        span RU 
                        span
                            img(src="img/arrdown.svg", alt="стрелка вниз")

                        .header__randome
                            p.header__randome-it(onclick="listener(event)") HE
                            p.header__randome-it(onclick="listener(event)") AR
                            p.header__randome-it(onclick="listener(event)") EN
                            
                button.header__burger-btn(type="button") 
                    img(src="img/burger.svg", alt="дополнительное меню")