main
    article.hero
        .container
            h1.hero__title1 Медицинское и косметологическое оборудование

            .hero__module01.hero__module
                h2.hero__title-big Медицинское<br>и косметологическое оборудование
                p.hero__desc Индивидуальные решения <span>для&nbsp;вашего бизнеса.</span><br>Международно признанный лидер

            .hero__module02.hero__module
                h2.hero__title-inc Инновационные технологии
                p.hero__desc для косметологических клиник,<br>врачей и домашнего пользования
                    
            .hero__module03.hero__module
                h2.hero__title-inc.hero__title-inc--3 Комплексное решение для проектирования
                p.hero__desc и запуска вашего бизнеса, адаптированное под ваши цели и возможности

            .hero__module04.hero__module
                h2.hero__title-inc Оборудование. Академия
                p.hero__desc Индивидуальные решения для вашего бизнеса

            img.hero__bigobj(src="img/card_product_big.png", alt="косметологическое оборудование")
            img.hero__fog(src="img/fog.png", alt="")
            img.hero__blur(src="img/blur-m.png", alt="")

            .hero__alert
                img.hero__alert-img(src="img/cookies.svg", alt="Политика cookies")

                p.hero__alert-text Этот веб-сайт использует такие технологии, как файлы cookie, для обеспечения основных функций сайта, а также для аналитики, персонализации и целевой рекламы. Для получения дополнительной информации перейдите по следующей ссылке: 
                    a(href="#") Политика конфиденциальности

                .hero__alert-yn
                    button#unsub.button__unsub(type="button") Отклонить
                    button#sub.button__sub(type="button") Принять

                //- button.hero__alert-cross(type="button")
                //-     img(src="img/cross.svg", alt="Отклонить")

    article.slider
        .container
            .slider__wrapper
                .slider__part1
                    .slider__txt
                        h2.slider__zag Инн<br>ова<br>ции
                        p.slider__podz доступные каждому
                        button.slider__form.button__sub(type="button") Подробнее

                    .slider__note
                        p Надежное и сертифицированное оборудование, созданное для ценителей красоты

                .slider__part2
                    .swiper
                        .swiper-wrapper
                            .swiper-slide.slider__slide
                                .txts
                                    h3 Косметологическое оборудование
                                    p Многофункциональные аппараты для омоложения, лифтинга и&nbsp;коррекции эстетических недостатков лица и&nbsp;тела

                                .slider__image
                                    .slider__border1
                                    .slider__border2
                                    .slider__border3
                                    .slider__border4
                                    .slider__turget
                                        img(src="img/card_product1.png", alt="product1", loading="lazy")

                                p Современное оборудование, созданное для профессионалов индустрии красоты. Аппараты, которые помогают проводить эффективные процедуры для ухода за кожей, омоложения, коррекции фигуры и решения эстетических задач. Удобство использования, надежность и инновационные технологии для повышения качества услуг и роста вашего бизнеса.

                            .swiper-slide.slider__slide
                                .txts
                                    h3 Медицинское оборудование
                                    p Процедуры профессионального уровня у вас дома
                                    
                                .slider__image
                                    .slider__border1
                                    .slider__border2
                                    .slider__border3
                                    .slider__border4
                                    .slider__turget.slider__turget-1
                                        img(src="img/card_product2.png", alt="product2", loading="lazy")

                                p Оборудование медицинского уровня для работы в клиниках и специализированных кабинетах. Аппараты, отвечающие строгим стандартам качества, обеспечивают высокую точность, безопасность и эффективность процедур. Поддержите свою практику с помощью технологий, которым доверяют профессионалы.

                            .swiper-slide.slider__slide
                                .txts
                                    h3 Бьюти девайсы
                                    p Процедуры профессионального уровня у вас дома

                                .slider__image
                                    .slider__border1
                                    .slider__border2
                                    .slider__border3
                                    .slider__border4
                                    .slider__turget.slider__turget-2
                                        img(src="img/card_product3.png", alt="product3", loading="lazy")

                                p Аппараты для тех, кто ценит профессиональный уход в домашних условиях. Инновационные устройства, которые просты в использовании и обеспечивают высокую эффективность процедур. Создайте свой личный бьюти-центр с надежным оборудованием для здоровья и красоты.

                        .swiper-pagination

                        .slider__btn-next
                            img(src="img/arrow.svg", alt="вправо")

                        .slider__btn-prev
                            img(src="img/arrow.svg", alt="влево")

    article#testdrive.test-drive
        .container
            .test-drive__wrapper
                .test-drive__part1
                    h2.title Test Drive
                    p Протестируйте оборудование в действии перед покупкой. Мы предоставляем возможность оценить эффективность и удобство наших аппаратов в нашем учебном центре. 
                    p Наши эксперты расскажут о преимуществах, подберут для вас самый оптимальный вариант по цене и направлениях технологий.
                    ul
                        li Оценка в реальных условиях
                        li Сравнить различные аппараты и технологии
                        li Консультация эксперта для подбора технологии конкретно под ваш бизнес
                        li Оценить возможность субсидирования вашего проекта
                    
                    button.test-drive__toform.button__sub(type="button") Подробнее

    article#decisions.decisions
        .container
            .decisions__wrapper
                .decisions__part1
                    h2#t2.title Готовые<br>решения
                    p.maintext Med Beauty оказывает широкий спектр услуг для создания и оснащения косметологических кабинетов, студий и клиник красоты. Мы разрабатываем индивидуальные решения, учитывая особенности вашего бизнеса, пространства и бюджета: от небольшого домашнего кабинета, студии эпиляции или коррекции фигуры до сети многопрофильных клиник красоты.
                    p.maintext Ассортиментная матрица оказываемых услуг включает более ста пятидесяти процедурНаш консалтинг способствует бьюти бизнесам в определении точек роста, оптимизации процессов, повышении эффективности и внедрении статегии роста.
                    button.decisions__toform.button__sub(type="button") Подробнее

                .decisions__part2
                    p.decisions__subtitle Формула реализации проекта:
                    ul.decisions__list
                        li Первичная консультация
                        li Аудит проекта и выбор направления
                        li Заключение договора и оплата
                        li Разработка стратегии и&nbsp;прохождение обучения
                        li Ввод оборудования в&nbsp;эксплуатацию и техническое сопровождение
                        li.decisions__line

    article#learning.learning
        .container
            .learning__border
                .learning__wrapper
                    h2#learn_h2.learning__title.title Академия<br>Med Beauty
                    p#learn_p.maintext.learning__textbox Обучение работе с&nbsp;оборудованием для&nbsp;косметологов и врачей по авторским курсам. Профессиональные программы с&nbsp;выдачей международного диплома, дающего право на профессиональную страховку в Израиле
                
                .learning__staffgroup
                    #learn_module01.learning__module
                        h3.learning__title-inc Новичкам в индустрии красоты
                        p.learning__desc которые хотят получить фундаментальные знания и&nbsp;практические навыки работы с&nbsp;оборудованием

                    #learn_module02.learning__module
                        h3.learning__title-inc Опытным косметологам и&nbsp;врачам
                        p.learning__desc желающим расширить спектр предоставляемых услуг, освоить современные технологии и повысить квалификацию

                    #learn_module03.learning__module
                        h3.learning__title-inc Владельцам клиник<br>и салонов красоты
                        p.learning__desc cтремящимся внедрить новые процедуры, освоить передовые методики и улучшить качество услуг

                    #learn_module04.learning__module
                        h3.learning__title-inc Бизнес инвесторам
                        p.learning__desc Вы узнаете, как выбирать оборудование, оценивать рентабельность, масштабировать успешный бизнес при минималица
                        
                        
                .learning__foto
                    .learning__foto-item
                        img.learning__staff(src="img/learning_1.png", alt="Персонал 1", loading="lazy")
                        .arrow#a1
                            img(src="img/learnarr_1.svg", alt="")

                    .learning__foto-item
                        img.learning__staff(src="img/learning_2.png", alt="Персонал 2", loading="lazy")
                        .arrow#a2
                            img(src="img/learnarr_2.svg", alt="")

                    .learning__foto-item
                        img.learning__staff(src="img/learning_3.png", alt="Персонал 3", loading="lazy")
                        .arrow#a3
                            img(src="img/learnarr_3.svg", alt="")

                    .learning__foto-item
                        img.learning__staff(src="img/learning_4.png", alt="Персонал 4", loading="lazy")
                        .arrow#a4
                            img(src="img/learnarr_4.svg", alt="")
                        

    article#trust.trust
        .container
            section.map
                h2#zagmap.map__title.title Клиники и салоны по всему миру <span>выбирают оборудование Med&nbsp;Beauty</span>
                p#podzagmap.maintext.map__textbox Врачи и клиники по всему миру доверяют оборудованию медбьюти
                img.map__image(src="img/map.png", alt="Карта клиник", loading="lazy")

                .map__footer
                    p.maintext.map__textbox-2 Наше косметологическое оборудование используется в ведущих клиниках и у экспертов индустрии. Доверие профессионалов, отзывы клиентов и международные стандарты подтверждают его качество, безопасность и эффективность
                    button.map__toform.button__sub(type="button") О нас

            section.whywe
                h2#why_title.whywe__title.title Почему я должен выбрать<br>ваше оборудование
                .whywe__wrapper
                    .whywe__block
                        .whywe__wrap
                            h3 Доказанная эффективность
                            p В отличии от аналогов, результаты нашего оборудования подтверждены клинически
                        img.whywe__image(src="img/icon_1.svg", alt="")

                    .whywe__block
                        .whywe__wrap
                            h3 Поддержка
                            p Обучение, техническое сопровождение и маркетинговые рекомендации
                        img.whywe__image(src="img/icon_2.svg", alt="")           

                    .whywe__block
                        .whywe__wrap
                            h3 Окупаемость
                            p Стремительная прибыль благодаря эффективности и надежности оборудования
                        img.whywe__image(src="img/icon_3.svg", alt="")

                    .whywe__block
                        .whywe__wrap
                            h3 Безопасность и Долговечность
                            p Международно подтвержденные сертификаты &lpar;CE, FDA&rpar; и соответственно высокие стандарты на производстве нивелируют большинство возможных рисков
                        img.whywe__image(src="img/icon_4.svg", alt="")  

                    .whywe__block
                        .whywe__wrap
                            h3 Инновации и Универсальность
                            p Уникальные технологии открывают широкий спектр возможностей с целью расширения и интеграции нескольких услуг на одном оборудовании
                        img.whywe__image(src="img/icon_5.svg", alt="")

                    .whywe__block
                        .whywe__wrap
                            h3 Уникальные авторские методики
                            p Наше оборудование снабжено эксклюзивными протоколами от ведущих специалистов
                        img.whywe__image(src="img/icon_6.svg", alt="")           

                    .whywe__block
                        .whywe__wrap
                            h3 Энергоэффективность
                            p Оборудование потребляет меньше электроэнергии при сохранении высокой мощности, снижая эксплуатационные расходы
                        img.whywe__image(src="img/icon_7.svg", alt="")

                    .whywe__block
                        .whywe__wrap
                            h3 Репутация
                            p Оборудование уже успешно используется в известных клиниках
                        img.whywe__image(src="img/icon_8.svg", alt="") 

    article#questions.questions
        .container
            .questions__wrapper
                .questions__part1 
                    h2.questions__title.title Частые вопросы
                    p.maintext.questions__textbox Остались вопросы? Задайте их нам!
                    button.questions__toform.button__sub(type="button", onclick="moreFn()") Подробнее

                .questions__part2
                    .questions__block
                        .questions__texts
                            h3 Какая гарантия предоставляется на оборудование, и как организовано техническое обслуживание?
                            p Срок гарантии на оборудование начинается от 12 месяцев. По истечении гарантийного срока мы предоставляем услуги постгарантийного обслуживания
                        
                        button.questions__toform(type="button")
                            img(src="img/arrow.svg", alt="")

                    .questions__block
                        .questions__texts
                            h3 Обязательно ли обладать медицинским образованием, чтобы открыть клинику или кабинет?
                            p Срок гарантии на оборудование начинается от 12 месяцев. По истечении гарантийного срока мы предоставляем услуги постгарантийного обслуживания
                        
                        button.questions__toform(type="button")
                            img(src="img/arrow.svg", alt="")

                    .questions__block
                        .questions__texts
                            h3 Действительно ли оборудование помогает достигать заявленных результатов &lpar;например, снижение объемов, лифтинг&rpar;?
                            p Срок гарантии на оборудование начинается от 12 месяцев. По истечении гарантийного срока мы предоставляем услуги постгарантийного обслуживания
                        
                        button.questions__toform(type="button")
                            img(src="img/arrow.svg", alt="")

                    .questions__block
                        .questions__texts
                            h3 Какое обучение я получу для работы с этим оборудованием и не возникнут ли сложности у новичка?
                            p Срок гарантии на оборудование начинается от 12 месяцев. По истечении гарантийного срока мы предоставляем услуги постгарантийного обслуживания
                        
                        button.questions__toform(type="button")
                            img(src="img/arrow.svg", alt="")

                    .questions__block
                        .questions__texts
                            h3 Как быстро я смогу окупить инвестиции в оборудование?
                            p Срок гарантии на оборудование начинается от 12 месяцев. По истечении гарантийного срока мы предоставляем услуги постгарантийного обслуживания
                        
                        button.questions__toform(type="button")
                            img(src="img/arrow.svg", alt="")

                    .questions__block
                        .questions__texts
                            h3 Есть ли у вас программы лизинга или рассрочки для приобретения оборудования?
                            p Срок гарантии на оборудование начинается от 12 месяцев. По истечении гарантийного срока мы предоставляем услуги постгарантийного обслуживания
                        
                        button.questions__toform(type="button")
                            img(src="img/arrow.svg", alt="")

                    .questions__block
                        .questions__texts
                            h3 Могу ли я увидеть оборудование в работе до покупки, например во время мастер-класса или демонстрации?
                            p Срок гарантии на оборудование начинается от 12 месяцев. По истечении гарантийного срока мы предоставляем услуги постгарантийного обслуживания
                        
                        button.questions__toform(type="button")
                            img(src="img/arrow.svg", alt="")

                    .questions__block
                        .questions__texts
                            h3 Вы помогаете с продвижением услуг, предоставляете рекламные материалы или консультации?
                            p Срок гарантии на оборудование начинается от 12 месяцев. По истечении гарантийного срока мы предоставляем услуги постгарантийного обслуживания
                        
                        button.questions__toform(type="button")
                            img(src="img/arrow.svg", alt="")

    article.more
        .container
            .more__wrapper
                form#form-down.more__form.form(action="#", method="POST")
                    h2#more_form.form__title.title Остались вопросы?

                    label(for="name-f")
                        input.form__input(type="text", form="form", name="name-f", id="name-f", placeholder="Ваше имя")

                    label(for="phone-f")
                        input.form__input.tel-selector(type="tel", form="form",name="phone-f", id="phone-f", placeholder="Ваш телефон")

                    label(for="question-f")
                        textarea.form__input(form="form", name="question-f", id="question-f",  placeholder="Здесь будет Ваш вопрос" maxlength="1500")

                    input.form__check(type="checkbox", form="form", id="agree-f")
                    label.form__check-label(for="agree-f") Я даю согласие на обработку персольных данных в соответствии с политикой конфиденциальности и условием пользования
                    p#warning-f.form__confirm Пожалуйста дайте свое согласие на обработку персональных данных

                    button.form__btn.button__sub(type="submit") Связаться

                aside.video.more__video
                    h2#more_video.video__title.title Видео о&nbsp;нашей компании
                    p.maintext16.video__textbox Стремительная прибыль благодаря эффективности и надежности оборудования
                    a.video__link(href="#" id="mark" data-video="m35sHBpUXBQ")
                        img(src="img/youtube.jpg", alt="Ролик компании Med Beauty", loading="lazy")
                        .video__btn
                            img(src="img/video_btn.svg", alt="Старт видео")

    article#vframe1.screen
        #player.screen__wrapper
        button#vcross1.screen__cross
            img(src="img/cross.svg" alt="закрыть видео" loading="lazy")

    .cover

            





