.slider {
  padding-top: 10rem;
  margin-bottom: 10rem;

  @include for-tablet-portrait-md {
    padding-top: 10rem;
    // padding-bottom: 43rem;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    // padding-bottom: 10rem;

    @include for-tablet-portrait-md {
      display: grid;
      align-content: center;
      padding: 0;
    }
  }

  &__part1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @include for-tablet-portrait-md {
      width: 62rem;
      margin-bottom: 11rem;
    }
  }

  &__zag {
    @include font(500, 17.6rem, 65%);
    color: var(--color-zag);
    margin-bottom: 5rem;

    @include for-tablet-landscape-lg {
      @include font(500, 14.6rem, 65%);
    }
  }

  &__podz {
    @include font(500, 2.4rem, 90%);
    color: var(--color-text);
    margin-bottom: 4rem;
  }

  &__note {
    @include for-tablet-landscape-lg {
      padding-right: 2rem;
    }

    & p {
      width: 100%;
      max-width: 44.2rem;
      position: absolute;
      bottom: 0;

      @include font(400, 1.6rem, 140%);
      color: var(--color-text);

      @include for-tablet-landscape-lg {
        width: 47%;
      }

      @include for-tablet-portrait-md {
        padding-right: 8rem;
        position: inherit;
        width: 100%;
      }

      @include for-phone-landscape-sm {
        width: 52%;
        max-width: auto;
        padding-right: 0;
      }
    }
  }

  &__part2 {
    width: 50%;

    // padding-left: 3rem;
    // padding-right: 3rem;
    position: relative;

    @include for-tablet-portrait-md {

      width: 83vw;
      padding: 0;
    }

    @include for-phone-landscape-sm {
      width: 84vw;
    }
  }

  &__advert {
    display: block;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: start;
    // height: 89rem;
  }

  &__advtxt {
    margin-bottom: 2.5rem;

    & h3 {
      @include font(500, 3.2rem, 90%);
      color: var(--color-zag);
      margin-bottom: 2rem;
    }

    & p {
      @include font(400, 1.6rem, 140%);
      color: var(--color-text);
    }
  }

  &__slide {
    position: relative;

    & h3 {
      @include font(500, 3.2rem, 90%);
      color: var(--color-zag);
      margin-bottom: 2rem;
    }

    & p {
      @include font(400, 1.6rem, 140%);
      color: var(--color-text);

      @include for-tablet-landscape-lg {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }

      @include for-phone-landscape-sm {
        margin-top: 0;
        margin-bottom: 2rem;
      }
    }
  }

  & .txts {
    height: 10rem;

    & p {
      margin-top: 3rem;
    }

    @include for-tablet-portrait-md {
      height: 15rem;
    }

    @include for-phone-landscape-sm {
      height: 16rem;
    }
  }

  &__form {
    @include for-tablet-portrait-md {
      margin-bottom: 11rem;
    }
  }

  &__image {
    width: 100%;
    height: 60.6rem;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 2.3rem;
    margin-right: .2rem;

    @include for-laptop-desktop-xl {
      margin-top: 6rem;
    }

    @include for-tablet-landscape-lg {
      width: 100%;
      height: 32.6rem;
      position: relative;
      margin-top: 10rem;
      margin-top: 71px;
      margin-bottom: auto;
    }

    @include for-tablet-portrait-md {
      // margin-top: 5rem;
      height: 52vw;
      margin-top: 0;
      margin-bottom: 0;
    }

    @include for-phone-landscape-sm {
      height: 54vw;
      margin-bottom: 4rem;
    }
  }

  &__turget {
    width: auto;
    height: 100%;
    display: grid;
    place-items: center;
    transform: scale(.95);
    // margin-top: -1rem;

    & img {
      object-fit: scale-down;

      @include for-phone-landscape-sm {
        margin-top: -5rem;
        object-fit: contain;
        width: 100%;
        height: auto;
      }
    }

    @include for-tablet-landscape-lg {
      transform: scale(.5);
      // height: 36.6rem;
      // margin-top: -3rem;
    }

    @include for-tablet-portrait-md {

      // top: 17.6rem;
      // height: 30rem;
    }

    @include for-phone-landscape-sm {
      transform: scale(.33);
      // top: 20.6rem;
      // height: 100%;
    }
  }

  &__textblock p {
    @include font(400, 1.6rem, 140%);
    color: var(--color-text);
  }

  &__border1 {
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    top: 0;
    left: 0;
    border-left: #ffffff solid 0.1rem;
    border-top: #ffffff solid 0.1rem;
    z-index: 10;
  }

  &__border2 {
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    top: 0;
    right: 0;
    border-right: #ffffff solid 0.1rem;
    border-top: #ffffff solid 0.1rem;
    z-index: 10;
  }

  &__border3 {
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    bottom: 0;
    left: 0;
    border-left: #ffffff solid 0.1rem;
    border-bottom: #ffffff solid 0.1rem;
    z-index: 10;
  }

  &__border4 {
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    bottom: 0;
    right: 0;
    border-right: #ffffff solid 0.1rem;
    border-bottom: #ffffff solid 0.1rem;
    z-index: 10;
  }

  &__nav {
    height: 7rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.slider__btn-prev {
  width: 7rem;
  height: 7rem;
  padding: 2.5rem;
  background: #414145;
  background-repeat: no-repeat;
  background-size: 1px;
  border: 0.1rem solid #c9c9c9;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 6rem;
  transform: translate(-50%, 0) rotate(90deg);
  z-index: 1001;
  cursor: pointer;
  user-select: none;

  @include for-laptop-desktop-xl {
    left: 3.5rem;

  }

  @include for-tablet-landscape-lg {
    left: 2.5rem;
    width: 5rem;
    height: 5rem;
    padding: 1.5rem;
  }

  @include for-phone-landscape-sm {
    left: 1.8rem;
    width: 3.5rem;
    height: 3.5rem;
    padding: 1.2rem;
    bottom: 34rem;
  }
}

.slider__btn-next {
  width: 7rem;
  height: 7rem;
  padding: 2.5rem;
  background: #414145;
  background-repeat: no-repeat;
  background-size: 1px;
  border: 0.1rem solid #c9c9c9;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translate(-50%, 0) rotate(-90deg);
  z-index: 1001;
  cursor: pointer;
  user-select: none;

  @include for-laptop-desktop-xl {
    right: -3.55rem;
  }

  @include for-tablet-landscape-lg {
    right: -2.55rem;
    width: 5rem;
    height: 5rem;
    padding: 1.5rem;
  }

  @include for-phone-landscape-sm {
    right: -1.65rem;
    width: 3.5rem;
    height: 3.5rem;
    padding: 1.2rem;
    bottom: 34rem;
  }
}

.swiper-button-lock {
  display: block !important;
}

.swiper-pagination-lock {
  display: block !important;
}

.swiper-pagination {
  bottom: 2rem !important;
}

.swiper-pagination-bullet {
  width: 1rem !important;
  height: 1rem !important;
  background: var(--color-gray) !important;
  top: 69rem !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 71rem !important;

  @include for-laptop-desktop-xl {
    top: 75rem !important;
  }

  @include for-tablet-landscape-lg {
    top: 49rem !important;
  }

  @include for-tablet-portrait-md {
    position: relative;
    top: -17rem !important;
  }

  @include for-phone-landscape-sm {
    display: none;
  }
}